<div class="flex-wrapper">
  <div class="single-chart">
    <svg viewBox="0 0 36 36" class="circular-chart green">
      <path class="circle-bg" d="M18 2.0845
              a 15.9155 15.9155 0 0 1 0 31.831
              a 15.9155 15.9155 0 0 1 0 -31.831" />
      <path class="circle" [attr.stroke-dasharray]="valueAttr" d="M18 2.0845
              a 15.9155 15.9155 0 0 1 0 31.831
              a 15.9155 15.9155 0 0 1 0 -31.831" />
      <text x="19" y="21" class="percentage">{{value*10}}%</text>
    </svg>
  </div>
  <p class="score">User score</p>
</div>
