<div class="wrapper">
    <section class="hero text-center container">
        <div class="image-wrapper">
          <img src="https://res.cloudinary.com/tsekotsolov/image/upload/v1555588508/moviDBLogo.png" alt="logo">
        </div>
        <div class="row justify-content-center">
          <div class="col-sm-12">
            <p>
              The Movie Database (TMDb) is a community built movie and TV database. Every piece of data has been added by our
              amazing community dating back to 2008. TMDb's strong international focus and breadth of data is largely
              unmatched and something we're incredibly proud of. Put simply, we live and breathe community and that's
              precisely what makes us different. Every year since 2008, the number of contributions to our database has increased. With over 200,000 developers and companies using our platform, TMDb has become a premiere source for metadata.
          </div>
        </div>
        <div class="btn btn-success" routerLink="/movies">Enjoy he movies</div>
      </section>
</div>

