<app-navigation></app-navigation>
<div class="wrapper">
  
      <!-- <form #form="ngForm" class="form-inline my-2 my-lg-0" (submit)="search(form.value)">
        <div>
          <input class="form-control mr-sm-2" required type="text" placeholder="Find a movie..." aria-label="Search"
            name="search" [(ngModel)]="query">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" [disabled]="!form.valid">Search</button>
        </div>
      </form> -->
    
  <router-outlet></router-outlet>
</div>

