.card {
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;

  .user-interaction {
    visibility: hidden;
    backface-visibility: hidden;
    background-color: rgba(255, 255, 255, 0.9);
    height: 40px;
    width: 100%;
    z-index: 100;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: -9px;
    left: 0px;

  }

  &:hover .user-interaction {
    visibility: visible;
  }

  i {
    outline: none;
    margin-left: 7px;
    cursor: pointer;
  }

  .heart:hover {
    color: #ee5f5b;
  }

  .info:hover {
    color: #28A5C9;
  }

  .flip:hover {
    color: #399939;
  }
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

  .card-title,
  .card-overview {
    word-wrap: break-word;
    white-space: normal;
  }

  .card-overview {
    text-align: justify;
  }

}

.card__face--back {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: flex-start;
  text-align: center;
  transform: rotateY(180deg);
  font-size: 95%;
}

.is-flipped {
  transform: rotateY(180deg);
}
