.card {

  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;

}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

  .card-title,
  .card-overview {
    word-wrap: break-word;
    white-space: normal;
  }

  .card-overview {
    text-align: justify;
  }

  .btn-custom {
    color:#399939;
    height: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;

  }

}

.card__face--back {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-between;
  text-align: center;
  transform: rotateY(180deg);
}

.is-flipped {
  transform: rotateY(180deg);
}
