
  <div #width class="card" [ngClass]="isFlipped && 'is-flipped' " [style.height]="height" (window:resize)="onResize()" (click)="toggleFlip()">
      <div class="card__face card__face--front">
          <img class="card-img-top" src="{{imageUrl}}" [style.height]="height">
      </div>
      <div class="card__face card__face--back">
         
              <h6 class="card-title">{{movie.title}}</h6>
              <p class="card-text">{{movie.release_date | date:'mediumDate'}}</p>
              <p class="card-text card-overview">{{overview}}</p>
              <button routerLink="/movie/{{movie.id}}" class="btn btn-outline-success">Details</button>
          
      </div>
  </div>

