<app-navigation></app-navigation>
<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-6 col-12 wrapper" *ngFor="let user of users$ | async">
      <div class="card">
        <div class="cont">
          <img class="card-img-top" src="{{user.avatar}}" alt="Card image cap">
          <div class='banned' *ngIf="user._kmd.status">
            <div class='text'>
              <p>BANNED</p>
            </div>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text">{{user.username}}</p>
          <p class="card-text" *ngIf="user.mail">{{user.mail}}</p>
          <p class="card-text" *ngIf="!user.mail">No email provided</p>
          <p class="card-text">Member since:{{user._kmd.ect.slice(0,10)}}</p>
          <a class="btn btn-primary" *ngIf="!user._kmd.status" (click)="banUser(user._id)">Ban User</a>
          <a class="btn btn-primary" *ngIf="user._kmd.status" (click)="restoreUser(user._id)">Restore User</a>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>

