<div class="container" *ngIf="movies && !loading">
  <h3>{{categoryName}}</h3>
  <div class="row">
    <drag-scroll class="container" #nav>
      <div *ngFor="let movie of movies" drag-scroll-item class="col-md-3 col-sm-6 col-12">
        <app-movie-card [movie]="movie" [userFavorites]="userFavorites"></app-movie-card>
      </div>
    </drag-scroll>
    <div class="circle circle-right" (click)="moveRight()">
      <i class="arrow right" ></i>
    </div>
    <div class="circle circle-left" (click)="moveLeft()">
      <i class="arrow left"></i>
    </div>
  </div>
</div>

<h3 *ngIf="!movies && !loading" class="text-danger error">No results matched your search criteria</h3>
