.container {
  margin-top: 1.3rem;
  position: relative;

  .circle {
    position: absolute;
    top: 55%;
    border-radius: 50%;
    width: 1.8rem;
    height: 1.8rem;
    background-color: #5B5E62;
    cursor: pointer;
  }

  .circle-right {
    left: 100%;
  }

  .circle-left {
    right: 100%;
  }

  .left,
  .right {
    position: absolute;
    top: 0.6rem;
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

  .right {
    left:0.5rem;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  .left {
    left: 0.7rem;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
}

.error {
  text-align: center;
  margin-top: 5rem;
}
