<app-navigation></app-navigation>
<div class="movie-wrapper container">
  <div class="row">
    <div class="col-md-4 col-12">
      <img class="poster" src="{{imageUrl}}" />
      <app-percentage [value]="movie.vote_average"></app-percentage>
      <a *ngIf="movie.homepage" href="{{movie.homepage}}" target="_blank" class="btn btn-success">Visit
        Movie Website</a>
    </div>
    <div class="col-md-8 col-12">
      <ul class="list-group">
        <li class="list-group-item">Title: <span>{{movie.title}} </span></li>
        <li class="list-group-item">Genres: <span>{{genres}} </span></li>
        <li class="list-group-item">Release Date: {{movie.release_date | date:'mediumDate'}}</li>
        <li class="list-group-item" *ngIf="movie.overview">{{movie.overview}}</li>
        <li class="list-group-item" *ngIf="cast">
          <div class="container">
            <div class="row">
              <div *ngFor="let actor of cast" class="col-md-3">
                <div class="card">
                  <img class="card-img-top" src="{{actor.actorImageUrl}}" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">{{actor.actorName}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <app-footer></app-footer>
