<div *ngIf ="movieIds$ | async as favorites" >

    <div *ngIf="route === '/'">
      <app-movie-category type="popular" [userFavorites]="favorites"></app-movie-category>
      <app-movie-category type="theaters" [userFavorites]="favorites"></app-movie-category>
      <app-movie-category type="kids" [userFavorites]="favorites"></app-movie-category>
      <app-movie-category type="drama" [userFavorites]="favorites"></app-movie-category>
    </div>
  
    <div *ngIf="route === '/movies/favorites'">
      <app-movie-category type="favorites"  [userFavorites]="favorites"></app-movie-category>
    </div>
    
    <div *ngIf="route === '/search'">
    <app-movie-search type="search"  [userFavorites]="favorites"></app-movie-search>
    </div>

</div>

